*{
    font-family:"Roboto Sans Serif", sans-serif;
}
body{
    margin: 0px;
}


.links{
    display: flex;
    margin-left:auto;
    gap: 10px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section, .top-buttons,.section{
    display: flex;
    
}

.hero-section,.top-buttons{
    margin-bottom: 60px;
}

img{
    width: 100%;
    height:auto;
    max-width: 500px;
}

.hero-section{
    gap: 60px;
}
.text h1, .text p{
    margin: 0px;
}


.section-container{
    flex-basis: 1500px;
    padding: 10px;
    
}

.section{
    justify-content: center;
}

.header,.footer{
    background-color: #1f2937;
    color: #f9faf8;

}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 500px;
    gap: 10px;
    align-items: flex-start;

}

.text h1{
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
}

.text p{
    font-size: 18px;
    color:#e5e7eb;
}

.hero-section{
    height: 300px;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 7px;
    padding: 3px 20px;
    width: 89.25px;
    height: 25px;
    border: none;
    
}

.body-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:
    flex-wrap: wrap;
    
}

.body-one h2{
    font-size: 36px;
    font-weight: 800;
    color:#1f2937;
}

.info{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}


.box-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width:150px;
}

.box{
    height: 150px;
    width: 150px;
    border: solid blue;
    border-radius: 20px;
    
}

.box-container p{
text-align: center;
}

.body-two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #e5e7eb;
}

.testimonial{
    display: flex;
    flex-direction: column;
    width: 750px;
}

.thor{
    align-self: flex-end;
    font-weight: 800;
    
}
.quote{
    font-size: 36px;
    color: #28231d;
    font-style: italic;
    
}



.call-to-action{
    width:800px;
    height: 100px;
    display:flex;
    flex-direction: column;
    background-color: #3882f6;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 70px;
    color: #f9faf8;

    
}

.call-to-action div{
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    
}

h3{
    margin: 0px;
}

footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.footer-button{
    border: solid #e5e7eb 2px;
    padding: 0px;
    color:#f9faf8;
}