*{
    font-family:"Roboto Sans Serif", sans-serif;
}
body{
    margin: 0px;
}


.links{
    display: flex;
    margin-left:auto;
    gap: 10px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section, .top-buttons,.section{
    display: flex;
    
}

.hero-section,.top-buttons{
    margin-bottom: 60px;
}

img{
    width: auto;
    height:300px;
    max-width: 700px;
}

.hero-section{
    gap: 60px;
}
.text h1, .text p{
    margin: 0px;
}


.section-container{
    flex-basis: 1500px;
    padding: 10px;
    
}

.section{
    justify-content: center;
}

.header,.footer{
    background-color: #1f2937;
    color: #f9faf8;

}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 500px;
    gap: 10px;
    align-items: flex-start;

}

.hero-section{
    height: 300px;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 7px;
    padding: 3px 20px;
    
}

